---
import Colecciona from '../components/Colecciona.astro';
import Contacta from '../components/Contacta.astro';
import Explora from '../components/Explora.astro';
import Footer from '../components/Footer.astro';
import Hero from '../components/Hero.astro';
import Nav from '../components/Nav.astro';
import Ubica from '../components/Ubica.astro';
import Layout from '../layouts/Layout.astro';
import Separator from '../components/Separator.astro';
---

<Layout>
  <main class="flex flex-col gap-y-20">
    <Nav />
    <Hero />
    <Separator />
    <Explora />
    <Separator />
    <Colecciona />
    <Separator />
    <Ubica />
    <Separator />
    <Contacta />
    <Footer />
  </main>
</Layout>
