---
import "../styles/global.css";
---
<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
		<meta name="description" content="Museo Natural de Zaragoza - Explora, aprende y colecciona" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>MUSEO NATURAL ZARAGOZA</title>
    <link href='https://fonts.googleapis.com/css?family=Jacques Francois' rel='stylesheet'>
	</head>
	<body class="bg-texto">
		<slot />
	</body>
</html>

<style>
	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
    font-family: 'Jacques Francois';
	}
</style>
