<main class="text-claro flex flex-col items-center text-center align-middle justify-center gap-2 p-6 md:px-16">
  <h2 class="text-5xl mb-20">CONTACTA</h2>
  <form action="#" class="flex flex-col text-left w-full md:w-1/2">
      <label for="email" class="text-xl">tu email:</label>
      <input type="email" name="email" id="email" class="text-texto bg-claro rounded-[7px]">
      <label for="asunto" class="text-xl">asunto:</label>
      <input type="text" name="asunto" id="asunto" class="text-texto bg-claro rounded-[7px]">
      <label for="mensaje" class="text-xl">mensaje:</label>
      <textarea name="mensaje" id="mensaje" class="text-texto resize-none bg-claro h-52 rounded-[7px]"></textarea>
      <button type="submit" class="w-30 h-10 rounded-[7px] bg-oscuro text-white self-center mt-6 cursor-pointer">Enviar</button>
  </form>
</main>
