---
import Image from "astro/components/Image.astro";
import Mapa from "../assets/mapa.png";
---
<main class="text-claro flex flex-col text-center align-middle justify-center gap-2 p-6 px-16">
  <h2 class="text-5xl">UBICA</h2>
  <p class="text-lg mb-20">Paseo Independencia 23</p>
  <Image src={Mapa} alt={"Mapa"} class="self-center rounded-[7px]"/>
</main>
